{% extends "base/base.html" %}

{% block avi_title %}
GAVIP Example AVIs: Simple AVI
{% endblock avi_title %}

{% block avi_content %}
{% load staticfiles %}

<div class="container-fluid">
  {% include "avi/avi_header.html" %}

  <div class="row collapse in" id="start_form">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2>Get started:</h2>

      <form id="dbquery_form" action="{% url 'avi:run_query' %}" method="POST"> {% csrf_token %}
        <div class="form-group">
          <label for="query">GACS-Dev VOTable query</label>
          <input class="form-control" id="query" name="query" placeholder="Enter your query here" required=true
            value="SELECT DISTANCE(POINT('ICRS',alpha,delta), POINT('ICRS',266.41683,-29.00781)) AS dist, * FROM public.g10_mw  WHERE 1=CONTAINS(POINT('ICRS',alpha,delta),CIRCLE('ICRS',266.41683,-29.00781, 0.08333333)) ORDER BY dist ASC">
            <label for="outfile">Output file</label>
            <input class="form-control" id="outfile" name="outfile" placeholder="Enter your output file here" required=true
            value="SampleFile_{{millis}}.out">
        </div>
        <button type="submit" class="btn btn-default">Begin pipeline</button>
        <p/>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 well well-sm">
      {% include "avi/user_detail.html" %}
    </div>
  </div>

</div>

{% endblock avi_content %}