<div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      
      <h2>AVI job result</h2>
      
      <table class="table">
        <thead>
          <tr>
            <th>File</th>
            <th>File Size (MB)</th>
            <th>Last Modified</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{filePath}}</td>
            <td>{{fileSize}}</td>
            <td>{{fileModTime}}</td>
          </tr>
        </tbody>
      </table>
      
      <a href="{{resultURL}}" type="button" class="btn btn-primary btn-lg btn-block">
        View Result
      </a>

    </div>
  </div>
</div>