
{% load staticfiles %}

  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
      <br/>
        <img src="{% static "avi/images/pslogo_square.png" %}" width="200" alt="Parameter Space Ltd" style="border:0px solid black"/>
        </div>
    
      <div class="col-md-8 well">
        <h3>GAVIP Example AVIs: <strong>Simple AVI</strong></h3>
        <p>This AVI demonstrates the following:</p>
        <ul>
              <li>AVI service usage</li>
              <li>Job queuing</li>
              <li>Pipelines</li>
            </ul>
        <p>View the developer guide <a href='http://docs.gavip.science/AVI_guide.html' target='_'>here</a>.</p>
      </div>
    </div>
  </div>
