<div class="panel panel-info">
  <div class="panel-heading">
    <h4>Multiple Pipelines AVI Help</h4>
  </div>
  <div class="panel-body">
  	<p>This AVI which demonstrates the following:</p>
    <ul>
      <li>Builds on Simple AVI</li>
      <li>Contains multiple AVI pipelines</li>
      <ol>
        <li>Demonstrates prototype of running (DPAC) Java tools in AVI pipeline, using the <a href="http://wiki.cosmos.esa.int/gaia-dpac/index.php/CU8:_Ulysses">CU8 Ulysses BP/RP Simulator</a>.</li>
        <li>Analysis of GACS-Dev IGSL source samples that were originally in OGLE-III.</li>
      </ol>
      <li><strong>Note: this AVI should only be used with the latest repositories.gavip.science/ps_avi_java_7 container template image, with the Ulysses tool 
              being mounted into /opt/ulysses as follows. See the <a href="http://docs.gavip.science/developer_guide.html#running-java-tools-within-an-avi-pipeline" target="_blank">Developer Guide</a> for details.</strong>
    </ul>
    <p>Below is a list of some of the important files in this AVI:</p>

    <table class="table">
      <thead>
        <tr>
          <th>Filename</th>
          <th>Description</th>
          <th>Related</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>models.py</th>
          <td>Defines the database models which store the job parameters. The parameters stored in these models are used in the pipeline.</td>
          <td>tasks.py</td>
        </tr>
        <tr>
          <th>tasks.py</th>
          <td>Defines the AVI pipelines.</td>
          <td>models.py</td>
        </tr>
        <tr>
          <th>urls.py</th>
          <td>Defines the URLs of the AVI.</td>
          <td>views.py</td>
        </tr>
        <tr>
          <th>views.py</th>
          <td>Defines functions which handle HTTP requests.</td>
          <td>tasks.py</td>
        </tr>
      </tbody>
    </table>

    <a class="btn btn-lg btn-info" href='http://docs.gavip.science/developer_guide.html' target='_'>View the developer guide</a>
  </div>
</div>
