
{% load staticfiles %}

  <div class="panel panel-default">
    <div class="row">
    
      <div class="col-md-12 well">
        <h3>GAVIP Example AVIs: <strong>Ulysses AVI</strong></h3>
        <p>This AVI demonstrates the following:</p>
        <ul>
              <li>Builds on Simple AVI</li>
              <li>Demonstrates prototype of running (DPAC) Java tools in AVI pipeline, using CU8 Ulysses TODO</li>
            </ul>
        <p>View the developer guide <a href='http://docs.gavip.science/AVI_guide.html' target='_'>here</a>.</p>
      </div>
    </div>
  </div>
